*{
    margin: 0;
    padding: 0;
}
body{
    background-color:#95afc0;
    font-family: 'Poppins', sans-serif;
}

.container-1{
    max-width: 1000px;
    background-color: #22a6b3;
    margin: 0 auto;
    padding: 0 40px;

}


h1,h2,h3,h4,h5,h6{
    color: #0652DD;
}
.logo{
   
    padding: 20px;
    border: 2px solid white;
    border-radius:50%;
    margin-top: 60px;
    margin-left:50px ;
   
}
.my-name{
    font-weight: bold;
}
.my-container{
    display: flex;
    align-items: center;
  
}
.my-name{
    margin-left: 30px;
}
.header-bio{
color:#6F1E51;
display: flex;

}
.link-ref{
 
}


.link-ref > p > a{
    text-decoration: none;  
    color:#3742fa ;
    font-weight: bold;
    padding:20 px;
    display: block;
    position: relative;
    left: 670px;
    top:-200px;
}
.link-ref p a:hover{
    text-decoration: underline;
    background-color:#686de0;
   
}
.clearing-div{
    clear: both;

}
.hr-1{
    border: 2px solid black;
    margin-left: -40px!important;
    width: 1075px;
    margin-top: 20px;
    
}


.hr-2{
    border-bottom: 2px solid black;
    margin-left: -40px!important;
    width: 1075px;
   margin-top: 20px;
}
/*------------
personal section
-----------*/
.content{
   margin-bottom: 30px;
}
.div1{
    width: 30%;
    float:left;
 
 
}
.div2{
    
    width: 70%;
    float: left;
}


 


/*------------
skill section
-----------*/


/*------------
Education section
-----------*/
.Education-left{
    width: 50%;
    float: left;

}
.Education-right{
    width: 50%;
    float:right;

}
.Education-left a{
    text-decoration: none;
}
.Education-right a{
    text-decoration: none;
}


/*------------
 Reference section
-----------*/
.name-1{
    width: 50%;
    float:left;
}
.name-2{
    width: 50%;
    float:right;
}
/*------------
footer section
-----------*/
.footer-bottom{
    background-color: black;
    text-align: center;
    height: 50px;
    width: 100%;
    margin: 0 auto;
    padding: 0 40px;
    margin-left:-40px;

  
   
   
   
   
    
}
.footer-bottom a{
    text-decoration: none;
    color: #6F1E51;
    
}
.footer-bottom p{
    color: white;
    padding: 5px;
}
    
   

   
    
   
 











